Repository ameenalasady/ye_tracker_app: changes, and which lefthook commands are due for each by the changed paths.
All: format, analyze, lint

format:
  run: dart format {staged_files} && git add {staged_files}

analyze:
  run: flutter analyze --fatal-infos

lint:
  run: dart pub get

feat: display dynamic app version in settings
  lib/providers/app_providers.dart
  lib/ui/sheets/settings_sheet.dart
  pubspec.lock
  pubspec.yaml
Due: format, analyze, lint

feat: implement automatic in-app updater via GitHub Releases
  android/app/src/main/AndroidManifest.xml
  lib/providers/app_providers.dart
  lib/services/update_manager.dart
  lib/ui/screens/main_screen.dart
  pubspec.lock
  pubspec.yaml
Due: format, analyze, lint

chore: fix linting and formatting
  lib/main.dart
  lib/models/playlist.dart
  lib/models/sheet_tab.dart
  lib/models/track.dart
  lib/providers/app_providers.dart
  lib/repositories/tracks_repository.dart
  lib/services/audio_handler.dart
  lib/services/download_manager.dart
  lib/services/tracker_parser.dart
  lib/services/update_manager.dart
  lib/ui/screens/downloads_screen.dart
  lib/ui/screens/main_screen.dart
  lib/ui/screens/player_screen.dart
  lib/ui/screens/playlist_detail_screen.dart
  lib/ui/sheets/filter_sheet.dart
  lib/ui/sheets/playlists_sheet.dart
  lib/ui/sheets/settings_sheet.dart
  lib/ui/widgets/era_tab_selector.dart
  lib/ui/widgets/main_header.dart
  lib/ui/widgets/mini_player.dart
  lib/ui/widgets/track_list.dart
  lib/ui/widgets/track_tile.dart
Due: format, analyze

fix: resolve race condition in track downloading
  lib/services/audio_handler.dart
  lib/services/download_manager.dart
Due: format, analyze

feat: add manual update check and enhance update UI
  lib/ui/screens/main_screen.dart
  lib/ui/sheets/settings_sheet.dart
Due: format, analyze

style: format all project files
  lib/main.dart
  lib/models/playlist.dart
  lib/models/sheet_tab.dart
  lib/models/track.dart
  lib/providers/app_providers.dart
  lib/repositories/tracks_repository.dart
  lib/services/audio_handler.dart
  lib/services/download_manager.dart
  lib/services/update_manager.dart
  lib/ui/screens/main_screen.dart
  lib/ui/screens/player_screen.dart
  lib/ui/screens/playlist_detail_screen.dart
  lib/ui/sheets/filter_sheet.dart
  lib/ui/sheets/playlists_sheet.dart
  lib/ui/sheets/settings_sheet.dart
  lib/ui/widgets/main_header.dart
  lib/ui/widgets/track_tile.dart
Due: format, analyze

style: enhance SnackBar UI with global theme and status icons
  lib/main.dart
  lib/ui/screens/player_screen.dart
  lib/ui/sheets/settings_sheet.dart
  lib/ui/widgets/track_tile.dart
Due: format, analyze

feat(ci): automate changelog generation for releases
  .github/workflows/main.yml
Due: none

ci: optimize build workflow performance via caching
  .github/workflows/main.yml
Due: none

feat(update): add Android install permission handling for updates
  lib/services/update_manager.dart
Due: format, analyze

fix: ensure dialogs and snackbars appear above settings sheet
  lib/ui/sheets/settings_sheet.dart
Due: format, analyze

feat(ui): implement overlay toasts to show notifications over settings sheet
  lib/ui/sheets/settings_sheet.dart
Due: format, analyze

feat: implement global library refresh for all tabs
  lib/repositories/tracks_repository.dart
  lib/ui/sheets/settings_sheet.dart
Due: format, analyze

ui: fix square tap animation on rounded settings sections
  lib/ui/sheets/settings_sheet.dart
Due: format, analyze

feat: implement global image harvesting and proactive background prefetching
  lib/repositories/tracks_repository.dart
  lib/services/tracker_parser.dart
  lib/ui/widgets/track_tile.dart
Due: format, analyze

ui: display album art in Up Next queue menu
  lib/ui/screens/player_screen.dart
Due: format, analyze

feat: lock app orientation to portrait
  lib/main.dart
Due: none

fix(services): resolve recursion-based stack overflow in DownloadManager
  lib/services/download_manager.dart
Due: format, analyze

perf: fix UI thread blocking during cache size calculation
  lib/providers/app_providers.dart
Due: format, analyze

perf: throttle download progress updates to reduce UI jank
  lib/services/download_manager.dart
Due: format, analyze

feat: implement playback state persistence across app restarts
  lib/services/audio_handler.dart
  lib/ui/screens/player_screen.dart
  lib/ui/widgets/track_tile.dart
Due: format, analyze

feat: Add Windows support and update CI/CD workflow
  .github/workflows/main.yml
  lib/main.dart
  lib/services/audio_handler.dart
  lib/services/update_manager.dart
  lib/ui/screens/player_screen.dart
  lib/ui/sheets/settings_sheet.dart
  pubspec.lock
  pubspec.yaml
  windows/.gitignore
  windows/CMakeLists.txt
  windows/flutter/CMakeLists.txt
  windows/flutter/generated_plugin_registrant.cc
  windows/flutter/generated_plugin_registrant.h
  windows/flutter/generated_plugins.cmake
  windows/runner/CMakeLists.txt
  windows/runner/Runner.rc
  windows/runner/compile_flags.txt
  windows/runner/flutter_window.cpp
  windows/runner/flutter_window.h
  windows/runner/main.cpp
  windows/runner/resource.h
  windows/runner/resources/app_icon.ico
  windows/runner/runner.exe.manifest
  windows/runner/utils.cpp
  windows/runner/utils.h
  windows/runner/win32_window.cpp
  windows/runner/win32_window.h
Due: format, analyze, lint

fix: resolve PowerShell line continuation error in CI workflow
  .github/workflows/main.yml
  .metadata
Due: none

ci: fix windows build path and build version format
  .github/workflows/main.yml
Due: none

ci: format build version correctly
  .github/workflows/main.yml
Due: none

Path conditions:
  format: any of: lib/**/*.dart
  analyze: any of: lib/**/*.dart
  lint: any of: pubspec.yaml
